.str1 {
    
    background: rgb(233, 109, 7);
    text-align: center;
    padding-top: 0.1px;/* Have to remove this to another selector later*/ 
    padding-bottom: 50px;
    height: 120px;
}

#title{
    color: rgb(236, 239, 241);
    font-size: 70px;
    text-align: center;
}

ul#recipe-list li {
    
    display: inline-block;
    min-width: 10rem;
    padding: 0 0.5rem;
    text-align: center;
    border-right: 2px solid orange;

    list-style: none;
    background-color: #eea552;
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

#wrapper{
    width: 1900px;
    height: 300px;
    background-image: url('./images/past-recipes.jpg');
    position: static;
}
.recipes {
    align-self: auto;
    width: 1300px;
    height: 500px;
    display: inline-flex;
}